extends setupLayout

block setup_content
  script(src='/javascripts/addRec.js')
  script(src='/javascripts/updateLocalStorageSetup.js')
  h1 Add Rec

  #add Enter the rec's info:
    form(name='addRec', id='addRecForm')
      label(for='name') Name:
      input(name='name', type='text', id='nameInput')
      br
      label(for='capacity') Capacity:
      input(name='capacity', type='text', id='capacityInput')
      br
      label(for='weekNum') Week Number:
      input(name='weekNum', type='text', id='weekNumInput')
      br
      label(for='recBlock') Rec Block:
      select(name='recBlock')
        - for(var i = 0; i < recBlocks.length; i++)
          option(value=recBlocks[i]) #{recBlocks[i]}

    .button#submit Add
