extends layout

block content
  script(src='/javascripts/index.js')
  h1= title
  p Welcome to Rec Signups!
  
  span.button#setup Setup
  span.button#go Assign Recs
  span.button#attendance Get Attendance Sheets
  span.button#cabinList Get Cabin Lists
  span.button#reset Reset Everything
