extends layout

block content
  script(src='/javascripts/index.js')
  h1= title
  p Welcome to Rec Signups!
  
  #buttons
    span.button.link#setup Setup
    span.button.link#assign Assign Recs
    span.button.link#attendance Get Attendance Sheets
    span.button.link#cabinList Get Cabin Lists
    span.button.link#reset Reset Everything
    span.button.link#test Load Test Campers

  #weekDiv
    form#weekForm
      label(for='week') Week Number:
      select(name='week', id='weekID')
        - for(var i=1; i <= 4; i++)
          option #{i}
    span.button#setWeek Save Week Number
