extends layout

block content
  script(src='javascripts/setup.js')
  h1 #{title}

  span.button#addCamper Add Camper
  span.button#removeCamper Remove Camper
  span.button#addRec Add Rec
  span.button#removeRec Remove Rec
