extends layout

block content
  script(src='javascripts/setup.js')
  h1 #{title}

  .button.link#addCamper Add Camper
  .button.link#batchAddCamper Batch Add Camper
  .button.link#removeCamper Remove Camper
  .button.link#addRec Add Rec
  .button.link#batchAddRec Batch Add Rec
  .button.link#removeRec Remove Rec
