body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.camper {
  border : solid;
  border-radius : 8px;
  background-color : #DDF1FF;
  max-width : 100px;
  padding : 8px;
  margin : 8px;
}

.rec {
  border : solid;
  border-radius : 8px;
  background-color : #DDF1FF;
  max-width : 100px;
  padding : 8px;
  margin : 8px;
}
