body {
  padding : 50px;
  font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color : #00B7FF;
  text-decoration : none;
}

form {
  margin : 16px;
}

.button, .camper, .rec {
  border : solid;
  border-radius : 8px;
  background-color : #DDF1FF;
  padding : 8px;
  margin : 8px;
}

.button:hover {
  background-color : orange;
  /*cursor : pointer;*/
}

.button {
  color : black;
}

.camper, .rec {
  max-width : 100px;
}
